<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if title%}
    <title>{{title}}</title>
    {%else%}
    <title>flask blog</title>
    {%endif%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}"> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>LAILAKCHAR-- Login page</title>
</head>
<body>
    <selection>
        <div class="loginform">
            <form action="#">
                <h1 class="heading">WELCOME BACK</h1>
                <h4 class="heading">To keep connected with us enter your registered Email and Password</h3>

                <div class="control">
                    <!-- <input type="email" name="email" id="email" placeholder="Email"> -->
                    <!-- {{ form.email.label(class="form-control-label") }} -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="control">  	
                    <!-- <input type="password" name="password" id="password" placeholder="Password" > -->
                    <!-- {{ form.password.label(class="form-control-label") }} -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="rmfp">
                    <div class="rm" id="rm">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                        <!-- <input type="checkbox"> Remember me.  -->
                    </div>
                    
                    <div class="fp" id="fp"><a href="{{ url_for('forgetpassword') }}">Forgot Password?</a></div>
                </div>

                <div class="control">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <div class="link">
                    <p>Don't have an account? <a href="{{ url_for('Signup') }}"> Sign Up</a></p>
                </div>
            </form>
            
        </div>
    </selection>
</body>
</html>